.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
start-local.sh
elastic-start-local/
corpus/
/elasticsearch-intro/.ipynb_checkpoints/Elasticsearch-checkpoint.ipynb
/simple-wikipedia.zip
/.junie/memory/
